label,
input {
	display: block;
	margin: 10px 0px;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
form input {
	padding: 5px 10px;
	border: 0.5px solid #ccc;
}
form div p {
	text-decoration: underline;
}
